# Python bytecode
__pycache__/
*.pyc

# ML models (Checkpoints)
checkpoints/*.pth
*.pth

# MLflow
mlflow.db
mlruns/

# Data & Results
data/*.h5
results/*.npz
FROG_LFE_Full_Train.o14968822
FROG_LFE_Full_Train.o14969924
